@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local('Orbitron Bold'), local('Orbitron-Bold'), url('../font/Orbitron.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.shadow {
    -webkit-box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
    box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .2);
}

body {
    background-color: #F3F8FB;
    color: #262a30;
    .main {
        max-width: 766px;
        margin: 100px auto;
        .main-left,
        .main-right {
            float: left;
            height: 440px;
        }
        .main-left {
            width: 38%;
            margin-right: 3%;
            .imusic {
                width: 100%;
                height: 440px;
                position: relative;
                overflow: hidden;
                border-radius: 3px;
                background-color: #262a30;
                @extend .shadow;
                .imusic-top {
                    width: 100%;
                    height: 228px;
                    text-align: center;
                    .top-cover {
                        cursor: pointer;
                        width: 80px;
                        height: 80px;
                        margin-top: 74px;
                        border-radius: 50%;
                    }
                    /* 旋转 */
                    .rot {
                        -ms-transform: rotate(7deg);
                        transform: rotate(7deg);
                        -webkit-transform: rotate(360deg);
                        animation: rotation 3s linear infinite;
                        -moz-animation: rotation 3s linear infinite;
                        -webkit-animation: rotation 3s linear infinite;
                        -o-animation: rotation 3s linear infinite;
                    }
                }
                .imusic-bottom {
                    position: absolute;
                    left: -304.46px;
                    bottom: -675px;
                    width: 900px;
                    height: 900px;
                    border-radius: 50%;
                    background-color: #fff;
                    .download,
                    .progress-bar,
                    .button-group,
                    .inf {
                        width: 20%;
                        margin: 0 auto;
                    }
                    .download {
                        height: 45px;
                        a {
                            color: #fff;
                            display: none;
                            width: 45px;
                            height: 45px;
                            margin: 0 auto;
                            border-radius: 50%;
                            background: transparent;
                            text-align: center;
                            transition: color 1s, background 1s;
                            &:hover {
                                color: #262a30;
                                background: #F3F8FB;
                                transition: color 1s, background 1s;
                            }
                            i{
                                line-height: 45px;
                            }
                        }
                    }
                    .progress-bar {
                        height: 30px;
                        position: relative;
                        border-top: 2px solid #eff0f4;
                        .bar {
                            position: absolute;
                            top: -2px;
                            width: 0;
                            height: 2px;
                            background-color: #262a30;
                        }
                    }
                    .button-group {
                        height: 90px;
                        text-align: center;
                        span {
                            cursor: pointer;
                            line-height: 118px;
                        }
                        .btn-pause,
                        .btn-stop {
                            display: none;
                        }
                        .btn-forward,
                        .btn-backward {
                            pointer-events: none;
                        }
                    }
                    .inf {
                        height: 60px;
                        p {
                            width: 100%;
                            line-height: 60px;
                            font-family: "Open Sans", "Helvetica Neue", Helvetica, "BBAlpha Sans", "S60 Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
                            text-align: center;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .main-right {
            width: 59%;
            .te-two {
                height: 240px;
                overflow: hidden;
                margin-bottom: 20px;
                border-radius: 3px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .te-three {
                h2 {
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    cursor: pointer;
                    height: 180px;
                    line-height: 180px;
                    text-align: center;
                    background-color: #fff;
                    font-family: 'Orbitron', sans-serif;
                    border-radius: 3px;
                    @extend .shadow;
                }
            }
        }
    }
}